[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
nltk = "*"
lxml = "*"
betacode = "*"
pygtrie = "*"
cltk = {editable = true, ref = "lemma-update", git = "https://github.com/diyclassics/cltk.git"}

[dev-packages]

[requires]
python_version = "3.6"
